<div id="sidebar" class="item item-1">
  <div class="sidebar-header">
      <div class="text-center">
          <img src="../assets/workSpotsLogo.png">
      </div>
  </div>
  <hr>
  <br>
  <img width="200px" alt="Trophy" src="./assets/shortcut.jpg">
  <a class="btn btn-default btn-block btn-outline-secondary" (click)='findPage()'><i class="fas fa-search"></i>&nbsp;&nbsp;Find</a>
  <a class="btn btn-default btn-block btn-outline-secondary" (click)='listPage()'><i class="far fa-list-alt"></i>&nbsp;&nbsp;List&nbsp;</a>
  <a class="btn btn-default btn-block btn-outline-secondary" (click)='mapPage()'><i class="far fa-map"></i>&nbsp;&nbsp;Map</a>
</div>

