<div id="sidebar" class="item item-1">
  <div class="sidebar-header">
      <div class="text-center">
      </div>
  </div>
  <br>
  <p class="text-center welcome">Welcome, Neil!</p>
  <img class="trophy" width="200px" alt="Trophy" src="./assets/shortcut.jpg">
  <p class="text-center score">Current Score: </p>
  <p class="text-center welcome"><strong>450</strong> </p>
  <div class="btn-container">
  <a class="half-btn btn btn-default btn-block btn-outline-secondary col-sm-6" routerLink="/app-family"><i class="fas fa-search"></i>&nbsp;&nbsp;Family</a>
  <a class="half-btn btn btn-default btn-block btn-outline-secondary col-sm-12" routerLink="/app-friends"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Friends</a>
 </div>
 <a class="full-btn btn btn-success btn-block btn-lg btn-outline-secondary col-sm-12" routerLink="app-all-learning-page"><i class="far fa-map"></i>&nbsp;&nbsp;Go to my learning</a>

</div>

