#sidebar {
    width: 230px;
    background-color:#03A9F4;
    height: 100vh;
    padding: 20px;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    border-right: 10px solid rgb(54, 160, 63);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.8);
}
#text-center {
    position: center;
}
#sidebar a {
    color: gray;
}

#sidebar a:active {
    color: white;
}

#sidebar a:hover {
    color: white;
}

.links {
    margin: auto;
}

img {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

hr {
    border-color: rgb(77, 77, 77);
    border-width: 2px;
}
