#sidebar {
    width: 270px;
    background-color:#03A9F4;
    height: 100vh;
    padding: 20px;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    border-right: 10px solid #03A9F4;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.8);


}
.text-center {
  text-align: center;
}
.welcome {
  font-size: 30px;
}
.score {
  font-size: 20px;
}

#sidebar a:active {
    color: white;
}

#sidebar a:hover {
    color: white;
}

.links {
    margin: auto;
}

img {
    margin: auto;
    width: 100%;

}

.trophy {
  padding: 10px, 10px, 0px, 0px;
  margin-bottom: 10px;
}
hr {
    border-color: rgb(77, 77, 77);
    border-width: 2px;
}

.btn-container {
  display: flex;
}
.half-btn {
  flex-direction: column;
  margin: 5px;

  width: 50%;
}

.full-btn {
    font-size: medium;
    color: white;
}



