<div class="nav-spacing">


<div class="social-container">
  <div class="page-titling "> <h1>My Friends(4)</h1></div>
    <div class="flex-container">

      <div class="friend-box social-container col-sm-3">
        <div class="image">
        <img class="img-thumbnail" src="./assets/Banko_Peter.jpg"></div>
        <h4>Peter Banko</h4>
        <p>Points: 3,400</p>
      </div>

      <div class="friend-box social-container col-sm-3">
          <div class="image">
          <img class="img-thumbnail" src="./assets/Berger_Tamra.jpg"></div>
          <h4>Tamra Berger</h4>
          <p>Points: 4,600</p>
        </div>

        <div class="friend-box social-container col-sm-3">
          <div class="image">
          <img class="img-thumbnail" src="./assets/CHELLADURAI_PRABHAKARAN.jpg"></div>
          <h4>Prabhakaran Chelladurai</h4>
          <p>Points: 3,880</p>
        </div>
        <div class="friend-box social-container col-sm-3">
          <div class="image">
          <img class="img-thumbnail" src="./assets/Gibbons_Sean.jpg"></div>
          <h4>Sean Gibbons</h4>
          <p>Points: 5,250</p>
        </div>

</div>
</div>
</div>
