<div class="nav-spacing">


<div class="social-container">
  <div class="page-titling "> <h1>My Friends(4)</h1></div>
    <div class="flex-container">

      <div class="friend-box social-container col-sm-3">
        <div class="image">
        <img class=" img-thumbnail" src="./assets/meep.jpg"></div>
        <h4>Meep Berger</h4>
        <p>Points: 40,000</p>
      </div>

      <div class="friend-box social-container col-sm-3">
          <div class="image">
          <img class="img-thumbnail" src="./assets/meep.jpg"></div>
          <h4>Meep Berger</h4>
          <p>Points: 40,000</p>
        </div>

        <div class="friend-box social-container col-sm-3">
            <div class="image">
            <img class="img-thumbnail" src="./assets/meep.jpg"></div>
            <h4>Meep Berger</h4>
            <p>Points: 40,000</p>
          </div>
          <div class="friend-box social-container col-sm-3">
              <div class="image">
              <img class="img-thumbnail" src="./assets/meep.jpg"></div>
              <h4>Meep Berger</h4>
              <p>Points: 40,000</p>
            </div>

</div>
</div>
</div>
