<h1 style="margin-left: 10px">Learning Page</h1>
<div class="learning-categories">
  <div class="category">
    <img class="category-image" src="./assets/heart-health-learning.jpg" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Heart Health</h2>
      <p class="category-text">Learn about how your heart works and things you can do to proactively keep it healthy</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/brain.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Mental Health</h2>
      <p class="category-text">Learn about how to maintain a high level of mental health to improve your quality of life</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/stomach.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Gut Health</h2>
      <p class="category-text">Learn about all of the parts of your digestive tract and how to keep it healthy </p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/nutrition.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Nutrition</h2>
      <p class="category-text">Learn about healthy nutrition options and how eating healthy improves your quality of living</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/exercise.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Exercise</h2>
      <p class="category-text">Learn about options for exercising and how it improves your overall health</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/pills.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Prescriptions</h2>
      <p class="category-text">Learn about common types of prescriptions and how they may be beneficial to you</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/sleep.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Sleep Disorders</h2>
      <p class="category-text">Learn about common sleeping disorders, their symptoms, and find resources to help</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/illness.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Illnesses</h2>
      <p class="category-text">Learn about common illnesses, their symptoms, potential treatment options, and how to get help</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/genetics.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Genetics</h2>
      <p class="category-text">Learn about how genetics effect your overall health and how to get more information on your genetics</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
  <div class="category">
    <img class="category-image" src="./assets/drug.png" alt="Heart Health Image">
    <div class="category-body">
      <h2 class="category-title">Drug Abuse</h2>
      <p class="category-text">Learn about the effects of prescription and illegal drug abuse and find resources if you need help</p>
      <a href="#" class="btn btn-primary">Start Learning</a>
    </div>
  </div>
</div>
