<div class="nav-spacing">
  <div class="social-container">
    <div class="page-titling "> <h1>Learning Categories</h1></div>
    <div class="flex-container">
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/heart.png" alt="Heart Health Image">
        <h2>Heart Health</h2>
        <p>Learn about how your heart works and things you can do to proactively keep it healthy</p>
        <a routerLink='/app-specific-learning-page' class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/brain.png" alt="Mental Health Image">
        <h2>Mental Health</h2>
        <p>Learn how to maintain a high level of mental health to improve your quality of life</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/stomach.png" alt="Digestive Health Image">
        <h2>Gut Health</h2>
        <p>Learn about all of the parts of your digestive tract and how to keep it healthy </p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/nutrition.png" alt="Nutrition Image">
        <h2>Nutrition</h2>
        <p>Learn about healthy nutrition options and how eating healthy improves your quality of living</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/exercise.png" alt="Exercise Image">
        <h2>Exercise</h2>
        <p>Learn about options for exercising and how it improves your overall health</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/pills.png" alt="Prescription Image">
        <h2>Prescriptions</h2>
        <p>Learn about common types of prescriptions and how they may be beneficial to you</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/sleep.png" alt="Sleep Disorder Image">
        <h2>Sleep Disorders</h2>
        <p>Learn about common sleeping disorders, their symptoms, and find resources to help</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/illness.png" alt="Illness Image">
        <h2>Illnesses</h2>
        <p>Learn about illnesses, their symptoms, potential treatments, and how to get help</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/genetics.png" alt="Genetics Image">
        <h2>Genetics</h2>
        <p>Learn how genetics effect your health and how to get more information on your genetics</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
      <div class="category social-container col-sm-3">
        <img class="category-image" src="./assets/drug.png" alt="Drug Abuse Image">
        <h2>Drug Abuse</h2>
        <p>Learn about the effects of drug abuse and find resources if you need help</p>
        <a class="btn btn-primary">Start Learning</a>
      </div>
    </div>
  </div>
</div>
