<div class="nav-spacing">


  <div class="social-container">
    <div class="page-titling ">
      <h1>My Family(2)</h1>
    </div>
    <div class="flex-container">

      <div class="friend-box social-container col-sm-3">
        <div class="image">
          <img class="img-thumbnail" src="./assets/Huberty_Matthew.jpg">
        </div>
        <h4>Matt Huberty</h4>
        <p>Points: 2,120</p>
      </div>

      <div class="friend-box social-container col-sm-3">
        <div class="image">
          <img class="img-thumbnail" src="./assets/Ondrus_Joseph.jpg">
        </div>
        <h4>Joe Ondrus</h4>
        <p>Points: 220</p>
      </div>

    </div>
  </div>
</div>
