<div class='nav-spacing'>
  <h1>Heart Learning</h1>
  <br>
  <table>
    <tr class='social-container'>
      <th>Resource</th>
      <th>Quiz</th>
      <th>Quiz Score</th>
    </tr>
    <tr class='social-container'>
      <td><a>Resource</a></td>
      <td><a routerLink='/app-quiz-page'>Quiz</a></td>
      <td *ngIf='score || score === 0'>{{score}}%</td>
      <td *ngIf='!score && score !== 0'>N/A</td>
    </tr>
    <tr class='social-container'>
      <td><a>Resource</a></td>
      <td><a>Quiz</a></td>
      <td>100%</td>
    </tr>
    <tr class='social-container'>
      <td><a>Resource</a></td>
      <td><a>Quiz</a></td>
      <td>100%</td>
    </tr>
    <tr class='social-container'>
      <td><a>Resource</a></td>
      <td><a>Quiz</a></td>
      <td>87.5%</td>
    </tr>
    <tr class='social-container'>
      <td><a>Resource</a></td>
      <td><a>Quiz</a></td>
      <td>75%</td>
    </tr>
  </table>
</div>