<div class="nav-spacing">

  <!--Leaderboard-->
  <div class="social-container">
    <h1>Leaderboard (Friends and Family)</h1>
    <br>
    <div class="scoreboard flex-container">
      <div class="leader social-container">
        <h3>1st Place</h3>
        <div class="leader-image">
          <img class=" img-thumbnail" src="./assets/Gibbons_Sean.jpg">
        </div>
        <h4>Sean Gibbons</h4>
        <p>Points: 5,250</p>
      </div>
      <div class="leader social-container">
        <h3>2nd Place</h3>
        <div class="leader-image">
          <img class="img-thumbnail" src="./assets/Berger_Tamra.jpg">
        </div>
        <h4>Tamra Berger</h4>
        <p>Points: 4,600</p>
      </div>
      <div class="leader social-container">
        <h3>3rd Place</h3>
        <div class="leader-image">
          <img class="img-thumbnail" src="./assets/CHELLADURAI_PRABHAKARAN.jpg">
        </div>
        <h4>Prabhakaran Chelladurai</h4>
        <p>Points: 3,880</p>
      </div>
      <div class="leader social-container">
        <h3>6th Place</h3>
        <div class="leader-image">
          <img class="img-thumbnail" src="./assets/Ondrus_Keri.jpg">
        </div>
        <h4>You</h4>
        <p>Points: 450</p>
      </div>
    </div>
  </div>
  <br>

  <!--Newsfeed-->
  <div class="social-container">
    <h1>News Feed</h1>
    <div class="news-feed">
    <br>
      <div *ngFor='let item of newsItems'>
        <div class="social-container feed-item">
          <div class="leader-image" [innerHTML]='item.img'></div>
          <div class="post-content">
            <div [innerHTML]='item.time'></div>
            <div [innerHTML]='item.html'></div>
          </div>
        </div>
      </div>
      <!-- <div class="social-container feed-item">
        <div class="leader-image">
          <img class="post-img" src="./assets/meep.jpg">
        </div>
        <div class="post-content">
          <p class="post-date">10:31 March 31, 2018</p>
          <p class="post-message">Meep Berger completed some learning!</p>
        </div>
      </div>
      <div class="social-container feed-item">
        <div class="leader-image">
          <img class="post-img" src="./assets/meep.jpg">
        </div>
        <div class="post-content">
          <p class="post-date">10:31 March 31, 2018</p>
          <p class="post-message">Meep Berger completed some learning!</p>
        </div>
      </div>
      <div class="social-container feed-item">
        <div class="leader-image">
          <img class="post-img" src="./assets/meep.jpg">
        </div>
        <div class="post-content">
          <p class="post-date">10:31 March 31, 2018</p>
          <p class="post-message">Meep Berger completed some learning!</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
