body {
  background-color: #E1F5FE;
  font-family: 'Playfair Display', serif;
}
.nav-spacing {
  margin-left: 300px;
  margin-right:30px;
  margin-top: 30px;

}

.social-container {
  align-content: center;
  background-color: white;
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: black;
  padding: 14px 20px 14px 20px;
  text-decoration: none;

}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}



.friend-box {

  margin:10px;
  background-color: #E1F5FE;
}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.image img{
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.page-titling {
  padding-bottom: 30px;
}

